@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf);
}
:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';
}
*{
    margin: 0px;
    padding: 0px;
}
h1, h2{
    font-weight: normal;
}
a.externo::after{
    content: '\1F517';
}
body{
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4), var(--cor5), var(--cor6));
    margin: auto;
    text-align: center;
    color: #fff;
}
header > h1{
    font-family: var(--font-destaque);
    padding: 8px;
    font-size: 2.5em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
header > p{
    padding-bottom: 25px;
    margin: auto;
    max-width: 400px;
    text-shadow: 0.8px 0.8px 2.4px rgba(0, 0, 0, 0.6);
}
nav{
    background-color: var(--cor6);
    padding: 4px;
}
nav > a{
    text-decoration: none;
    padding: 3.5px;
    margin: 5px;
    border-radius: 6px;
    font-size: 1.1em;
    color: var(--cor1);
    transition: 0.2s;
}
nav > a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
}
main{
    background-color: #fff;
    margin: auto;
    min-width: 280px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}
main > h1, main > h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor2), var(--cor1), #fff);
    padding: 2px 0px 2px 10px;
}
main > h1{
    font-size: 1.5em;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.8);
}
main > h2{
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.6);
}
main > p{
    margin: 8px;
}
main strong{
    color: var(--cor5);
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}
p{
    font-family: var(--font-padrao);
    text-indent: 25px;
    line-height: 1.2em;
}
picture{
    width: 98%;
}
picture > img{
    width: 98%;
}
img{
    display: block;
    margin: auto;
}
#video{
    background-color: var(--cor5);
    margin: 20px 0px 20px 0px;
    padding-bottom: 56.25%;
    position: relative;
}
#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    margin: 5px 10px;
    background-color: var(--cor2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding-bottom: 5px;
}
aside > h3{
    background-color: var(--cor5);
    color: #fff;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 0px 5px 10px;
}
aside > p, aside > ul{
    margin: 8px 12px;
}
ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor6);
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}
footer strong{
    color: var(--cor1);
}