@charset "UTF-8";
:root{
    --cor1: #4600E0;
    --cor2: #0106E1;
    --cor3: #8F00E0;
    --cor4: #D800E0;
    --cor: #E00068;
    --sombra: rgba(0, 0, 0, 0.5);
    --font_padrao: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font_titulo: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--font_titulo);
}
html{
    scroll-behavior: smooth;
}
p{
    font-family: var(--font_padrao);
    text-align: justify;
    line-height: 1.5em;
}
header{
    text-align: center;
    background-image: linear-gradient(0deg, var(--cor4), var(--cor3), var(--cor1));
    padding: 18px 0px 25px 0px;
    box-shadow: 8px 5px 5px black;
}
header h1{
    font-size: 36px;
}
header p{
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
}
nav{
    background-color: var(--sombra);
    display: flex;
    justify-content: space-around;
    padding: 1.6vw;
}
nav a{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 2vw;
    font-size: 20px;
    border-radius: 6px;
    transition: all 0.8s;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.25);
}
nav a:hover{
    background-color: rgba(128, 128, 128, 0.5);
    transform: scale(1.3);
    text-shadow: 0.5px 0.5px 1px var(--sombra);
    font-weight: bolder;
}
.img_fund{
    position: absolute;
    text-align: center;
    filter: opacity(0.8) blur(2px);
    transition: all 0.8s;
    width: 16.49vw;
    height: 5.2vw;
    translate: 0% -30%;
    background-size: cover;
}
#homepage{
    background-image: url(img/controle.jpg);
    background-position: center center;
    left: 0%;
}
#home:hover ~ #homepage{
    filter: opacity(1) blur(0);
    transform: scale(1.2);
    border-radius: 15px;
    z-index: 2;
}
#home{
    translate: -29% 0%;
    z-index: 3;
}
#tetris{
    background-image: url(img/tetris.jpg);
    background-position: center center;
    left: 16.67%;   
}
#tet:hover ~ #tetris{
    filter: opacity(1) blur(0);
    transform: scale(1.2);
    border-radius: 15px;
    z-index: 2;
}
#tet{
    translate: -38.8% 0%;
    z-index: 3;
}
#mine{
    background-image: url(img/mine.jpg);
    background-position: center center;
    left: 33.33%;
}
#craft:hover ~ #mine{
    filter: opacity(1) blur(0);
    transform: scale(1.2);
    border-radius: 15px;
    z-index: 2;
}
#craft{
    translate: -8.1% 0%;
    z-index: 3;
}
#gtav{
    background-image: url(img/gtav.jpg);
    background-position: center center;
    left: 50%;  
}
#gta:hover ~ #gtav{
    filter: opacity(1) blur(0);
    transform: scale(1.2);
    border-radius: 15px;
    z-index: 2;
}
#gta{
    translate: 1% 0%;
    z-index: 3;
}
#wiisports{
    background-image: url(img/wiisports.jpg);
    background-position: center center;
    left: 66.67%;
}
#sports:hover ~ #wiisports{
    filter: opacity(1) blur(0);
    transform: scale(1.2);
    border-radius: 15px;
    z-index: 2;
}
#sports{
    translate: 2.9% 0%;
    z-index: 3;
}
#pubg{
    background-image: url(img/pubg.jpg);
    background-position: bottom center;
    left: 83.2%;
}
#pub:hover ~ #pubg{
    filter: opacity(1) blur(0);
    transform: scale(1.2) translateX(-8%);
    border-radius: 15px;
    z-index: 2;
}
#pub{
    translate: 10% 0%;
    z-index: 3;
}
#pub:hover{
    translate: -27% 0%;
}
#hp{
    background-image: linear-gradient(180deg, var(--cor4), var(--cor3), var(--cor2));
    padding: 3vw 3vw;
    box-shadow: inset 6px 5px 8px var(--sombra);
}
.art{
    animation: fade 10s;
}
@keyframes fade{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#art1, #art3, #art5{
    display: flex;
    justify-content: end;
}
#art0{
    display: flex;
}
#art0 > img{
    width: 400px;
    height: 215px;
    margin-left: 5vw;
}
#art1 > video{
    width: 170px;
    height: 215px;
    margin-right: 5vw;
    border-radius: 15px;
    border: 1px solid var(--sombra);
}
#art2{
    display: flex;
}
#art2 img{
    width: 400px;
    height: 215px;
    margin-left: 5vw;
    border-radius: 15px;
    border: 1px solid var(--sombra);
}
#art3 img{
    width: 400px;
    height: 215px;
    margin-right: 5vw;
    border-radius: 15px;
    border: 1px solid var(--sombra);
}
#art4{
    display: flex;
}
#art4 img{
    width: 400px;
    height: 215px;
    margin-left: 5vw;
    border-radius: 15px;
    border: 1px solid var(--sombra);
}
.sect{
    background-color: white;
    padding: 25px;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 5px 3px 3px var(--sombra);
}
#sect0, #sect1, #sect2, #sect3, #sect4{
    margin-bottom: 100px;
}
.sect h1{
    font-size: 28px;
}
.sect h2{
    font-style: italic;
}
.sect h1, .sect h2{
    margin: 0px 0px 20px 0px;
    text-decoration: underline;
}
.sect p{
    text-indent: 25px;
    margin: 0px 15px;
    font-size: 18px;   
}
#art1{
    animation-duration: 11s;
}
#art2{
    animation-duration: 12s;
}
#art3{
    animation-duration: 13s;
}
#art4{
    animation-duration: 14s;
}
#art5{
    animation-duration: 15s;
}
#tet_fund{
    background-image: url(img/tet_fund1.gif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 30px;
}
#art_tetris{
    background-color: rgba(200, 200, 200, 0.9);
    box-shadow: 5px 3px 5px rgba(200, 200, 200, 0.5);
    margin: auto;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 15px;
    animation: fade 3s;
}
#art_tetris > h1{
    font-size: 36px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_tetris > p{
    margin-bottom: 15px;
    text-indent: 25px;
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}
#art_tetris a{
    font-weight: bolder;
    color: black;
    font-style: italic;
}
#mine_fund{
    background-image: url(img/mine_fund.webp);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    padding: 30px;
}
#art_mine{
    background-color: rgb(200, 200, 200, 0.9);
    box-shadow: 5px 3px 5px rgba(200, 200, 200, 0.5);
    margin: auto;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 15px;
    animation: fade 3s;
}
#art_mine h1{
    font-size: 36px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_mine a{
    color: black;
    font-style: italic;
    text-decoration: none;
    background-color: rgb(100, 100, 100);
    box-shadow: 2px 1px 3px var(--sombra);
    padding: 5px;
    border-radius: 10px;
    transition: all .5s;
}
#art_mine a:hover{
    transform: scale(1.2);
    box-shadow: 3px 1.5px 3px var(--sombra);
}
#art_mine section{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 350px;
}
#art_mine h2{
    margin-bottom: 20px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_mine p{
    margin-bottom: 15px;
    text-indent: 25px;
    margin-bottom: 15px;
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}
#gtav_fund{
    background-image: url(img/gtav_fund.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
    padding: 30px;
}
#art_gta{
    background-color: rgb(200, 200, 200, 0.9);
    box-shadow: 5px 3px 5px rgba(200, 200, 200, 0.5);
    margin: auto;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 15px;
    animation: fade 3s;
}
#art_gta h1{
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_gta h2{
    margin-bottom: 20px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_gta p{
    margin-bottom: 15px;
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}
#art_gta img{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
#art_gta ol{
    list-style-position: inside;
    margin-bottom: 25px;
}
#wii_fund{
    background-image: url(img/wii_fund.avif);
    padding: 30px;
}
#art_wii{
    background-color: rgb(200, 200, 200, 0.9);
    margin: auto;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 15px;
    animation: fade 3s;
}
#art_wii h1{
    font-size: 36px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_wii h2{
    margin-bottom: 20px;
    margin-top: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_wii p{
    text-indent: 25px;
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}
#pubg_fund{
    background-image: url(img/pubg_fund.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}
#art_pubg{
    background-color: rgb(200, 200, 200, 0.9);
    max-width: 800px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 15px;
    animation: fade 3s;
}
#art_pubg h1{
    font-size: 36px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_pubg h2{
    margin-bottom: 20px;
    margin-top: 25px;
    text-shadow: 1px 1px 2px var(--sombra);
}
#art_pubg p{
    text-indent: 25px;
    text-shadow: 0.5px 0.5px 1px var(--sombra);
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
}
footer p{
    text-align: center;
}