@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yellowtail&display=swap');
:root{
    --cor1: #00BDE5;
    --cor2: rgb(0, 150, 230);
    --cor3: #83D5E6;
    --cor_inversa: #E66A00;
    --cor5: #333333;
    --cor_cinza1: #c8c8c880;
    --cor_cinza2: #64646480;
    --cor_cinza3: #1e1e1ee6;
    --font_forte: "Merriweather", serif;
    --font_desenhada: "Yellowtail", cursive;
    --font_padrao: "Open Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: var(--cor3);
    font-family: var(--font_forte);
    text-align: center;
    padding: 1em;
    font-size: 1.3em;
}
header > h1{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    color: #fff;
}
#tit{
    font-family: var(--font_desenhada);
    font-size: 1.3em;
}
nav{
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 20px;
    height: 3em;
    position: sticky;
    top: 0;
    z-index: 1;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    transition: all 0.5s;
    font-size: 1.05em;
}
nav a:hover{
    background-color: var(--cor_cinza2);
    color: rgba( 220, 220, 220, 0.9);
    text-decoration: underline var(--cor_cinza1);
    border: 2px solid var(--cor_cinza3);
    border-radius: 10px;
    padding: 6px;
    font-size: 1.15em;
}
nav a:active{
    background-color: #fff;
    color: #000;
    text-decoration: underline #000;
}
main{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}
.artd, .img{
    padding: 45px 15px;
}
.artd{
    display: flex;
    justify-content: end;
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: -10px;
}
.a img{
    cursor: pointer;
    width: 750px;
    transition: all 0.5s;
    border-radius: 20px;
    border: 3px solid var(--cor1);
    filter: drop-shadow(9px 6px 3px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(9px 6px 3px rgba(0, 0, 0, 0.5));
}
.a img:hover{
    border: 3px solid var(--cor3);
    border-radius: 50px;
    transform: scale(1.15) translateX(-45px);
    -webkit-transform: scale(1.15) translateX(-45px);
}
.img{
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.8);
}
#img1{
    background-image: url(imagens/fundo/img1.jpg);
    display: flex;
}
#dese{
    margin-top: 10px;
    margin-left: 20px;
    columns: 3;
    column-gap: 30px;
}
#dese p{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}
.foto{
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.5s;
}
.foto:hover{
    filter: drop-shadow(7px 5px 2px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(7px 5px 2px rgba(0, 0, 0, 0.5));
    transform: translateY(30px) scale(1.2);
    -webkit-transform: translateY(30px) scale(1.2);
    border: 3px solid var(--cor2);
    border-radius: 50%;
}
#img2{
    background-image: url(imagens/fundo/img2.jpg);
    background-position: center top;
}
.sec{
    background-color: #fff;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.4);
    width: 900px;
    padding: 25px;
    margin: 20px;
    border-radius: 15px;
}
.sec h2{
    font-family: var(--font_desenhada);
    font-size: 2.1em;
    text-decoration: underline;
    text-align: center;
    margin: 3px 0px;
    margin-bottom: 15px;
    text-shadow: 0.5px 0.5px 1.2px rgba(0, 0, 0, 0.6);
}
.sec p, .sec li{
    font-family: var(--font_padrao);
    text-align: justify;
    text-indent: 2em;
    line-height: 2em;
    margin-bottom: 25px;
    text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.5);
}
.sec ul{
    list-style-position: inside;
}
.sec li{
    margin: 0;
    margin-left: 35px;
}
#m2{
    padding: 0px 10px 15px 0px;
}
.art2{
    margin: auto;
    width: 60vw;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(100,100,100,0.9);
}
.art2 h2{
    font-family: var(--font_forte);
    margin: 35px 0px 10px 0px;

}
.sec2{
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: justify;
    line-height: 1.5em;
}
iframe{
    display: block;
    margin: auto;
    margin-top: 15px;
}
#m3{
    padding: 20px 0px 20px 0px;
}
#a3{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 95vw; 
}
#a3 h3{
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 10px;   
}
#a3 .h3{ 
    margin-top: 50px; 
}
#a3 p{
    margin: 0px 0px 20px 0px;
}
#a3 a{
    text-decoration: none;
    color: black;
    padding: 5px;
}
#a3 a:hover{
    text-decoration: underline black;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.1em;
}
