@charset "UTF-8";
:root{
    --geral_family: ;
    --color1: #7FDBFF;
    --color2: #001F3F;
    --color3: #0074D9;
    --color4: #3D9970;
    --color5: #FFDC00;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--color1);
}
header{
    background-color: var(--color2);
}
header h1{
    color: white;
    display: block;
    padding: 1.3vw 0vw 1vw 0vw;
    margin: auto;
    width: 29vw;
    font-size: 2.5em;
    text-align: center;
}
header p{
    color: white;
    display: block;
    margin: auto;
    width: 30vw;
    text-align: center;
    font-size: 1.1em;
}
header span{
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
#pos-logo{
    position: absolute;
    top: 2vw;
    left: 10vw;
    width: 200px;
}
#logo{
    position: absolute;
    display: inline;
    max-width: 93px;
    transition: all .25s;
    border: 5px transparent rgba(128, 128, 128);
}
#logo:hover{
    border: 3px solid darkblue;
    transform: scale(1.2) rotateZ(360deg);
    border-radius: 50%;
}
#control{
    position: relative;
    display: inline-block;
    translate: 2.5vw -103px;
}
#control:hover #menu1{
    display: block;
}
#control:hover #logo{
    border: 3px solid darkblue;
    transform: scale(1.2) rotateZ(360deg);
    border-radius: 50%;
}
#menu1{
    position: absolute;
    display: none;
    font-size: 1.15em;
    background-color: var(--color3);
    padding: 5px;
    border-radius: 10px;
    translate: -10px 107px;
    width: 13vw;
    line-height: 1.1em;
    z-index: 1;
}
.interacao1{
    color: white;
    display: block;
    padding: 5px;
    transition: all .35s;
}
.interacao1:hover{
    background-color: var(--color2);
    color: var(--color4);
    border-radius: 10px;
}
.interacao1:hover::after{
    content: counter(⬅️) ⬅;
}
.interacao1:active{
    background-color: black;
    color: white;
}
.menu2{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 30px 25px;
    font-size: 1.1em;
}
.interacao2{
    background-color: grey;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.5);
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition: all .5s;
}
.interacao2:hover{
    color: var(--color5);
    transform: scale(1.2);
}
.interacao2:active{
    color: white;
    background-color: black;
}
main{
    background-color: white;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 7px 5px 12px rgba(0, 31, 63, 0.5);
}
main h1{
    font-size: 2.2em;
    text-decoration: underline;
    padding: 0.5vw 0vw 1.8vw 0.2vw;
}
main h2, main h3{
    font-size: 1.8em;   
}
main p:not(#desc_foto2){
    text-indent: 25px;
}
main img:not(.bandeira){
    box-shadow: 7px 5px 12px rgba(0, 0, 0, 0.5);
}
#main1{
    max-width: 800px;
    margin: auto;
}
#t1_homepage{
    padding: 0vw 0vw 0.8vw 1vw;
}
#t2_homepage, #t3_homepage, #t4_homepage, #t5_homepage{
    padding: 0vw 0vw 0.8vw 1vw;
}
#main1 p{
    line-height: 1.5em;
    text-align: justify;
    margin: 0px 20px;
    font-size: 1.1em;
    padding: 0.5vw 0vw 1.2vw 0vw;
}
#mapa_dos_oceanos{
    max-width: 800px;
    border-radius: 5px;
    margin-bottom: 15px;
}
#mapa{
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 780px;
    margin-bottom: 10px;
    border-radius: 15px;
}
.main2{
    margin: auto;
    max-width: 800px;
}
.main2 h2{
    margin: 10px 0px 20px 0px;
}
.main2 p:not(#st){
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 25px;
}
.main2 p:not(#desc_foto2){
    text-align: justify;
}
#foto1{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    max-width: 800px;
    border-radius: 5px;
}
.foto2{
    display: block;
    margin: auto;
    max-width: 780px;
    border-radius: 10px;
}
.desc{
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 1px;
    margin: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}
#desc_foto2{
    max-width: 400px;
}
#desc_foto3{
    max-width: 600px;
}
#desc_foto4{
    max-width: 500px;
}
#mapa_atlantico{
    display: block;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 20px;
}
#profund_atlantico{
    display: block;
    margin: auto;
    max-width: 800px;
    height: 600px;
    border-radius: 25px;
}
#atlan{
    max-width: 450px;
    text-align: center;
}
.list_carac{
    list-style-position: inside;
}
.list_carac > li{
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 20px;
}
#st{
    font-size: 1.1em;
}
.continente{
    padding: 20px 0px 10px 0px;
}
.bandeiras{
    columns: 3;
    list-style: disc;
    list-style-position: inside;
    font-size: 1.1em;
}
.bandeiras > li{
    max-width: 250px;
}
.bandeira{
    width: 20px;
    margin-right: 5px;
}
#mapa_pacifico{
    display: block;
    margin: auto;
    max-width: 800px;
    border-radius: 10px;
}
.h{
    font-size: 1.6em;
    margin: 10px 0px 15px 10px;
}
.list_fen{
    list-style-position: inside;
    margin-left: 5px;
    font-size: 1.05em;
}
#mapa_indico{
    max-width: 800px;
    display: block;
    margin: auto;
    border-radius: 20px;
}
#list_indic{
    list-style-position: inside;
    font-size: 1.1em;
    columns: 2;
}
footer{
    background-color: black;
    padding: 15px;
    margin-top: 20px;
    color: white;
}
footer p{
    display: block;
    margin: auto;
    max-width: 800px;
    text-align: center;
}