@charset "UTF-8";
:root{
    --geral_family:
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #001f3f;
}
header img{
    position: absolute;
    top: 2%;
    left: 2%;
    display: inline;
    width: 42px;
    height: 42px;
}
header h1{
    display: block;
    padding: 20px;
    margin: auto;
    width: 29vw;
    font-size: 2.5em;
}
body{
    background-color: #7FDBFF;
}